.app {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#374b60, #07090C);
}

.app-top {
  display: flex;
  height: 90%;
}

.button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
  padding: 10px;
  width: 80%;
  margin: 20px;
  text-transform: uppercase;
  opacity: .85;

  &:hover {
    text-decoration: none;
    opacity: 1;
    transition: opacity .25s;
    cursor: pointer;
  }
}

.green {
  background: $green;
}
