.artist-container {
  overflow: auto;
  padding-bottom: 100px;

  h2 {
    font-size: 28px;
    margin: 30px 0;
    color: white;
  }
}

.artist-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 50px;

  h1 {
    font-size: 35px;
  }

  img {
    height: 300px;
    width: 300px;
    margin: 30px;
  }

  .button {
    width: 150px;
  }
}

.artist-songs-albums {
  display: flex;
  flex-direction: column;
  align-items: center;
}
