.collection-container {
  width: 90%;
  display: flex;
  height: 100%;

  overflow: auto;
}


.collection-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  align-items: center;
  margin: 50px 0 0 50px;
  color: white;
  text-align: center;
  height: 90%;

  img {
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 40px;
    padding: 20px;
  }

  h2 {
    font-size: 25px;
    padding: 20px;
  }

  h5 {
    font-size: 12px;
  }
  .play-div {
    height: 50px;
    width: 50%;
    margin: 20px;
  }

  .play {
    opacity: 1;
    width: 100%;
    padding: 15px;
    border: none;
    margin: 0;
  }

  .modal-entry-button {
    opacity: .4;

    &:hover {
      opacity: 1;
    }
  }
}
