.collection-container {
  height: 90%;
  width: 85%;
  display: flex;
  padding: 50px 0 0 50px;
  overflow: auto;

  ol {
    height: 100%;
    // margin: 0;
  }
}


.collection-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 100%;
  color: white;
  text-align: center;

  img {
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 40px;
    padding: 10px;
  }

  h2 {
    font-size: 25px;
    padding: 20px;
  }

  h5 {
    font-size: 12px;
  }

  .play-div {
    height: 50px;
    width: 50%;
    margin: 13px;
  }

  .play {
    opacity: 1;
    width: 100%;
    padding: 10px;
    border: none;
    margin: 0;

    &:focus {
      outline: none;
    }
  }

  .modal-entry-button {
    opacity: .4;
    margin: 10px;

    &:hover {
      opacity: 1;
    }
  }
}
