.collection-container {
  width: 90%;
  display: flex;
  height: 100%;
  margin: 50px;
}


.collection-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  align-items: center;
  margin: 0 100px;
  color: white;
  text-align: center;

  img {
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 40px;
    padding: 20px;
  }

  h2 {
    font-size: 25px;
    padding: 20px;
  }

  h5 {
    font-size: 12px;
  }
}
