.current-song-detail {
  width: 33.333333333%;
  // height: 100%;

  // margin-right: 100px;

  padding: 20px 50px;
  box-sizing: border-box;

  h5 {
    font-size: 16px;

    cursor: default;
  }

  h6 {
    font-size: 12px;
  }

  span {
    display: inline;
    padding: 0 10px;
  }
}
