.follow {
  border: none;
  opacity: .85;
  width: 50%;
  overflow: visible;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}

.follow-div {
  height: 50px;
  width: 50%;
  margin: 13px;

  .follow {
    opacity: .85;
    width: 100%;
    padding: 10px;
    border: none;
    margin: 0;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 1;
    }
  }
}
