.music-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  margin: 0 auto;
  .active {
    border-bottom: 1px solid $green;
    &:hover {
      color: white;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    a {
      padding: 10px 30px;
      font-size: 16px;
      text-transform: uppercase;
      color: white;
      box-sizing: border-box;

      &:hover {
        cursor: pointer;
        color: $green;
      }
    }
  }

  button {
    margin-right: 50px;
    left: 100%;

  }
}
