.audio-player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  // padding: auto;
}

.p-button {
  height: 35px;
  width: 35px;
  margin: 20px 20px 15px 20px;
  transition: transform .25s;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

#scrollbar {
  height: 5px;
  width: 400px;
  background: #404040;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;

}

#playhead {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: white;
}

.timeline {
  display: flex;
  align-items: center;
  width: 500px;

  p {
    font-size: 11px;
    padding: 0 15px;
    width: 50px;
  }
}

.song-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-song {
  height: 15px;
  width: 15px;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

#volume {
  float: right;
  height: 5px;
  width: 200px;
  background: #404040;
  border-radius: 5px;
  margin: 30px 10px;
  cursor: pointer;
}

#volume-head {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: white;
  margin-left: 100%;
}

.audio-left {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.audio-right {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 15px;
    width: 17px;
    margin: 5px;
    box-sizing: border-box;
  }
}
